version: '3.8'

services:
  # backend:
  #   build: .
  #   entrypoint: .docker/entrypoint.sh
  #   volumes:
  #     - .:/home/node/app
  #   ports:
  #     - 3000:3000
  #   expose:
  #     - 3000:3000
  #   depends_on:
  #     - mongodb
  #   networks:
  #     - simula
  #   container_name: backend
  #   external_links:
  #   - client

  mongodb:
    image: mongo:latest
    container_name: mongodb
    volumes:
      - ./.docker/dbdata:/data/db
    ports:
      - 27017:27017
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=root
      - MONGO_INITDB_DATABASE=simulaWEB
    networks:
      - simula
    restart: always

  mongo-express:
    image: mongo-express:latest
    container_name: mongo-express
    ports:
      - 8081:8081
    environment:
      - ME_CONFIG_MONGODB_SERVER=mongodb
      - ME_CONFIG_MONGODB_AUTH_USERNAME=root
      - ME_CONFIG_MONGODB_AUTH_PASSWORD=root
      - ME_CONFIG_MONGODB_ADMINUSERNAME=root
      - ME_CONFIG_MONGODB_ADMINPASSWORD=root
    depends_on:
      - mongodb
    networks:
      - simula

networks:
  simula:
    name: simula
    driver: bridge
    external: true
